name: final-python-CI

on:
  push:
    branches: [ "main" ]
  pull_request:
    branches: [ "main" ]
  workflow_dispatch:   

jobs:
  build:
    runs-on: ubuntu-latest
    container: python:3.7-slim


    steps:
      - name: Checkout code
        uses: actions/checkout@v4
        

      - name: Install dependencies 
        run: |
          python -m pip install --upgrade pip
          pip install -r requirements.txt
          pip install pytest build

      - name: Test with pytest
        run: |
          pytest -q 
   

      - name: Create source package 
        run: |
          apt-get update && apt-get install -y zip
          zip -r final-python-source.zip . -x "venv/*" ".git/*" ".pytest_cache/*"

      - name: Upload package artifact
        uses: actions/upload-artifact@v4
        with:
          name: final-python-source
          path: final-python-source.zip
